<a href="https://colab.research.google.com/github/mauricio201922/DataScience/blob/main/AulaOne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criando um array de dicionário e uma sequecia de valores de grafos

In [21]:
users = [
{ "id": 0, "name": "Hero" },
{ "id": 1, "name": "Dunn" },
{ "id": 2, "name": "Sue" },
{ "id": 3, "name": "Chi" },
{ "id": 4, "name": "Thor" },
{ "id": 5, "name": "Clive" },
{ "id": 6, "name": "Hicks" },
{ "id": 7, "name": "Devin" },
{ "id": 8, "name": "Kate" },
{ "id": 9, "name": "Klein" }
]

In [22]:
friendships = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4),
(4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

In [23]:
for user in users:
 user["friends"] = []

In [24]:
for i, j in friendships:
 users[i]["friends"].append(users[j])
 users[j]["friends"].append(users[i])

In [25]:
sum(len(user["friends"]) for user in users)

24

# Descobrindo valor medio de amigos conectados

In [8]:
def number_of_friends(user):
 return len(user["friends"])

In [9]:
total_connections = sum(number_of_friends(user) for user in users)

In [10]:
# Valor medio
num_users = len(users)
avg_connections = total_connections / num_users
avg_connections

2.4

# Descobrindo todos que são menos amigos

In [12]:
num_friends_by_id = [(user["id"], number_of_friends(user)) for user in users]

In [13]:
num_friends_by_id

[(0, 2),
 (1, 3),
 (2, 3),
 (3, 3),
 (4, 2),
 (5, 3),
 (6, 2),
 (7, 2),
 (8, 3),
 (9, 1)]

In [14]:
sorted(num_friends_by_id, key=lambda x: x[1], reverse=True)
# cada par é (user_id, num_friends)
# [(1, 3), (2, 3), (3, 3), (5, 3), (8, 3),
# (0, 2), (4, 2), (6, 2), (7, 2), (9, 1)]

[(1, 3),
 (2, 3),
 (3, 3),
 (5, 3),
 (8, 3),
 (0, 2),
 (4, 2),
 (6, 2),
 (7, 2),
 (9, 1)]

#Job 2: Cientistas de Dados que talvez você conheça!

In [28]:
def friends_of_friend_ids_bad(user):
 # "foaf" is short for "friend of a friend"
 return [foaf["id"]
 for friend in user["friends"] # for each of user's friends
 for foaf in friend["friends"]] # get each of _their_ friends

In [29]:
users[5]["friends"]

[{'friends': [{'friends': [{'friends': [{'friends': [{...},
         {'friends': [{...}, {...}, {...}], 'id': 2, 'name': 'Sue'}],
        'id': 0,
        'name': 'Hero'},
       {'friends': [{'friends': [{...}, {...}], 'id': 0, 'name': 'Hero'},
         {...},
         {...}],
        'id': 2,
        'name': 'Sue'},
       {...}],
      'id': 1,
      'name': 'Dunn'},
     {'friends': [{'friends': [{'friends': [{...}, {...}, {...}],
          'id': 1,
          'name': 'Dunn'},
         {...}],
        'id': 0,
        'name': 'Hero'},
       {'friends': [{'friends': [{...}, {...}], 'id': 0, 'name': 'Hero'},
         {...},
         {...}],
        'id': 1,
        'name': 'Dunn'},
       {...}],
      'id': 2,
      'name': 'Sue'},
     {...}],
    'id': 3,
    'name': 'Chi'},
   {'friends': [...], 'id': 5, 'name': 'Clive'}],
  'id': 4,
  'name': 'Thor'},
 {'friends': [{'friends': [...], 'id': 5, 'name': 'Clive'},
   {'friends': [{...},
     {'friends': [{'friends': [...], 'id': 5, 'name': 'Clive'}, {...}],
      'id': 7,
      'name': 'Devin'},
     {'friends': [{...}], 'id': 9, 'name': 'Klein'}],
    'id': 8,
    'name': 'Kate'}],
  'id': 6,
  'name': 'Hicks'},
 {'friends': [{'friends': [...], 'id': 5, 'name': 'Clive'},
   {'friends': [{'friends': [{'friends': [...], 'id': 5, 'name': 'Clive'},
       {...}],
      'id': 6,
      'name': 'Hicks'},
     {...},
     {'friends': [{...}], 'id': 9, 'name': 'Klein'}],
    'id': 8,
    'name': 'Kate'}],
  'id': 7,
  'name': 'Devin'}]

In [30]:
friends_of_friend_ids_bad(users[0])

[0, 2, 3, 0, 1, 3]

# Excluindo pessoas que são conhecidas

In [31]:
from collections import Counter

In [32]:
def not_the_same(user, other_user):
 """dois usuários não são os mesmos se possuem ids diferentes"""
 return user["id"] != other_user["id"]

In [33]:
def not_friends(user, other_user):
 """other_user não é um amigo se não está em user[“friends”];
 isso é, se é not_the_same com todas as pessoas em user[“friends”]"""
 return all(not_the_same(friend, other_user) for friend in user["friends"])

In [34]:
from collections import Counter
def friends_of_friend_ids(user):
 return Counter(foaf["id"]
 for friend in user["friends"] # para cada um dos meus amigos
 for foaf in friend["friends"] # para cada amigo de um dos meus amigo
 if not_the_same(user, foaf) # que não sejam eu
 and not_friends(user, foaf)) # e que não são meus amigos

In [35]:
friends_of_friend_ids(users[0])

Counter({3: 2})

In [36]:
print(friends_of_friend_ids(users[3]))

Counter({0: 2, 5: 1})

# Job 3: Interesses em comum

In [37]:
interests = [
(0, "Hadoop"), (0, "Big Data"), (0, "HBase"), (0, "Java"),
(0, "Spark"), (0, "Storm"), (0, "Cassandra"),
(1, "NoSQL"), (1, "MongoDB"), (1, "Cassandra"), (1, "HBase"),
(1, "Postgres"), (2, "Python"), (2, "scikit-learn"), (2, "scipy"),
(2, "numpy"), (2, "statsmodels"), (2, "pandas"), (3, "R"), (3, "Python"),
(3, "statistics"), (3, "regression"), (3, "probability"),
(4, "machine learning"), (4, "regression"), (4, "decision trees"),
(4, "libsvm"), (5, "Python"), (5, "R"), (5, "Java"), (5, "C++"),
(5, "Haskell"), (5, "programming languages"), (6, "statistics"),
(6, "probability"), (6, "mathematics"), (6, "theory"),
(7, "machine learning"), (7, "scikit-learn"), (7, "Mahout"),
(7, "neural networks"), (8, "neural networks"), (8, "deep learning"),
(8, "Big Data"), (8, "artificial intelligence"), (9, "Hadoop"),
(9, "Java"), (9, "MapReduce"), (9, "Big Data")
]

In [38]:
def data_scientists_who_like(target_interest):
 return [user_id
 for user_id, user_interest in interests
 if user_interest == target_interest]

In [39]:
from collections import defaultdict

In [40]:
# as chaves são interesses, os valores são listas de user_ids com interests
user_ids_by_interest = defaultdict(list)
for user_id, interest in interests:
 user_ids_by_interest[interest].append(user_id)

In [41]:
# as chaves são user_ids, os valores são as listas de interests para aquele
interests_by_user_id = defaultdict(list)
for user_id, interest in interests:
 interests_by_user_id[user_id].append(interest)

In [43]:
def most_common_interests_with(user):
 return Counter(interested_user_id
 for interest in interests_by_user_id[user["id"]]
 for interested_user_id in user_ids_by_interest[interest]
 if interested_user_id != user["id"])

In [44]:
'''print(interests_by_user_id)'''
print(most_common_interests_with(users[0]))

Counter({9: 3, 1: 2, 8: 1, 5: 1})

# Job 4: Salários e Experiência

In [45]:
salaries_and_tenures = [(83000, 8.7), (88000, 8.1),
 (48000, 0.7), (76000, 6),
 (69000, 6.5), (76000, 7.5),
 (60000, 2.5), (83000, 10),
 (48000, 1.9), (63000, 4.2)]

In [46]:
# as chaves são os anos, os valores são as listas dos salários para cada ano
salary_by_tenure = defaultdict(list)
for salary, tenure in salaries_and_tenures:
 salary_by_tenure[tenure].append(salary)
# as chaves são os anos, cada valor é a média salarial para aquele ano
average_salary_by_tenure = {
 tenure : sum(salaries) / len(salaries)
 for tenure, salaries in salary_by_tenure.items()
}

In [47]:
{0.7: 48000.0,
1.9: 48000.0,
2.5: 60000.0,
4.2: 63000.0,
6: 76000.0,
6.5: 69000.0,
7.5: 76000.0,
8.1: 88000.0,
8.7: 83000.0,
10: 83000.0}

{0.7: 48000.0,
 1.9: 48000.0,
 2.5: 60000.0,
 4.2: 63000.0,
 6: 76000.0,
 6.5: 69000.0,
 7.5: 76000.0,
 8.1: 88000.0,
 8.7: 83000.0,
 10: 83000.0}

In [49]:
def tenure_bucket(tenure):
 if tenure < 2:
  return "less than two"
 elif tenure < 5:
  return "between two and five"
 else:
  return "more than five"

In [50]:
# as chaves são agrupamentos dos casos, os valores são as listas
# dos salários para aquele agrupamento
salary_by_tenure_bucket = defaultdict(list)
for salary, tenure in salaries_and_tenures:
 bucket = tenure_bucket(tenure)
 salary_by_tenure_bucket[bucket].append(salary)

In [51]:
# as chaves são agrupamentos dos casos, os valores são
# a média salarial para aquele agrupamento
average_salary_by_bucket = {
 tenure_bucket : sum(salaries) / len(salaries)
 for tenure_bucket, salaries in salary_by_tenure_bucket.items()
}

In [52]:
average_salary_by_bucket

{'between two and five': 61500.0,
 'less than two': 48000.0,
 'more than five': 79166.66666666667}

# Job 5: Contas Premium (pagas)

In [57]:
{0.7, "paid",
1.9, "unpaid",
2.5, "paid",
4.2, "unpaid",
6, "unpaid",
6.5, "unpaid",
7.5, "unpaid",
8.1, "unpaid",
8.7, "paid",
10, "paid"}

{0.7, 1.9, 10, 2.5, 4.2, 6, 6.5, 7.5, 8.1, 8.7, 'paid', 'unpaid'}

In [58]:
def predict_paid_or_unpaid(years_experience):
 if years_experience < 3.0:
  return "paid"
 elif years_experience < 8.5:
  return "unpaid"
 else:
  return "paid"

# Job 6: Tópicos de Interesse

In [59]:
words_and_counts = Counter(word
 for user, interest in interests
 for word in interest.lower().split())

In [60]:
for word, count in words_and_counts.most_common():
 if count > 1:
  print (word, count)

big 3
data 3
java 3
python 3
learning 3
hadoop 2
hbase 2
cassandra 2
scikit-learn 2
r 2
statistics 2
regression 2
probability 2
machine 2
neural 2
networks 2

In [61]:
c = Counter(['a', 'a', 'a', 'a', 'b', 'b'])
c

Counter({'a': 4, 'b': 2})

In [62]:
teste = friends_of_friend_ids(users[3])
teste

Counter({0: 2, 5: 1})