<a href="https://colab.research.google.com/github/mauricio201922/DataScience/blob/main/requestWeb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
import requests

In [86]:
import pandas as pd

In [213]:
html = requests.get("https://en.wikipedia.org/wiki/Template:COVID-19_pandemic_data").text
soup = BeautifulSoup(html, 'html.parser')

results = []

for row in soup.find_all('tr')[2:15]:
  data = row.find_all('th')
  name = data[1].find('a').text
  casos = row.find('td').text
  mortes = row.find_all('td')

  #print(name)
  #print(casos)
  #print(mortes[1].text)

  results.append({'paises': name, 'cases': casos.replace('\n', ''), 'mortes': mortes[1].text.replace('\n', '')})

df = pd.DataFrame(results)

df.head(10)

           paises       cases   mortes
0   United States  33,576,867  604,852
1           India  29,183,121  359,676
2          Brazil  17,122,877  479,515
3          France   5,725,492  110,231
4          Turkey   5,313,098   48,524
5          Russia   5,167,949  125,278
6  United Kingdom   4,542,986  127,867
7           Italy   4,237,790  126,767
8       Argentina   4,066,093   83,941
9         Germany   3,717,890   89,825